.search-bar-container {
    /* background-color: #8c8c8c; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-bar {
    width: 100%;
    /* background-color: #fa8787; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.search-bar input {
    all: unset;
    width: 80%;
    height: 3em;
    padding: 1em 1.2em;
    box-sizing: border-box;
    border: 2px solid #737373;
    border-radius: 1.5em 0 0 1.5em;
    background-color: #ffffff;
    color: #000000;
}

.search-bar input:focus {
    transition: background-color 1s;
    transition-timing-function: cubic-bezier(.04,.21,.01,.98);
    background-color: #6E82DA;
}

.search-bar input::placeholder {
    color: #353535;
}

.search-icon {
    background-color: #ffffff;
    width: 3em;
    height: 3em;
    box-sizing: border-box;
    padding: .5em;
    margin-left: -1.5em;
    box-sizing: border-box;
    border: 2px solid #737373;
    border-radius: 1.5em;
}

.search-icon:hover {
    transition: background-color 1s;
    transition-timing-function: cubic-bezier(.04,.21,.01,.98);
    background-color: #3E58CE;
}